@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
<div>@Model.otherMessage</div>

<form action="/update" method="post">
    <label for="fname">First Name:</label>
    <input type="text" name="fname" />

    <button type="submit">Save</button>
</form>

